html {
    scroll-behavior: smooth;
}
h2 {
    text-align: center;
    color: black;
}

img {
    width: 5%;
    height: 5%;
}

a {
    transition: .3s;
    text-decoration: none;
}

a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

img {
    float: left;
}

.main {
    display: block;
    border-style: solid;
    margin-bottom: 5%;
    margin-left: 15%;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    max-width: 70vw;
}

p {
    padding: 10px;
}

div {
    display: block;
}

ul {
    list-style-position: inside;
    list-style-type: none;
    text-align: center;

}
